
 /*rakenteen määrittelyä*/
body {
    background-color: #88b8ae;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-image: url(kuvat/Etusivulle.jpg), url(kuvat/Etusivulle.jpg);
    background-position: left, right; 
    background-size: cover; 
    background-repeat: no-repeat;
  }
  
  .etusivusisältö {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #88b8ae; 
  }

  .tunnitsisältö {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #88b8ae;
}


.form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="date"],
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .form-group select {
    height: 40px;
  }
  .form-group input[type="submit"] {
    background-color: #88b8ae;
    color: #000000;
    border: solid 1px #000000;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  .form-group input[type="submit"]:hover {
    background-color: #0056b3;
  }

.yhteystiedot {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #88b8ae;   
}

.yhteystiedot h2 {
    color: #000000; /* Change heading color to white */
  }
  
  .yhteystiedot p {
    margin-bottom: 10px;
  }
  
  .yhteystiedot ul {
    list-style: none;
    padding: 0;
  }
  
  .yhteystiedot li {
    margin-bottom: 5px;
  }


  

  



    header {text-align: center;
    padding-top: 20px;}

    /*Navigoinnin ulkoasu*/
    nav a {
    background: #88b8ae;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #000000;
    border-width: medium;
}
nav a:hover {
    color: azure;
    background-color: #000000;
}

#valittu {
    color: azure;
    background-color: rgb(0, 0, 0 0.6);
}


footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa {
    padding: 20px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    background-color: #88b8ae;
    border: 2px solid #000000;
    border-width: medium;   
}

.fa:hover {
    opacity: 0.6;
}


.toimintakehote {
  font-size: 40px;
   display: flex; 
   border: medium solid #000000;
   border-radius: 90px;
   background-color: #88b8ae;
   color: #000000;
   text-decoration: none;
   justify-content:center;
   align-items: center;
   
   
}





#Copyright {
    text-align: center;
    font-size: 20px;
    color: #000000;
    background-color: #88b8ae;
    border: 2px solid #000000;
    border-width: medium;

}


#Sähköposti {
    text-align: center;
    font-size: 20px;
    color: #000000;
    background-color: #88b8ae;
    border: 2px solid #000000;
    border-width: medium;
}








/*swayn määritys*/
#sway {
    width: 100%;
    height: 100vh;
}


/*Sivujenkuva*/    

.etusivusisältö img {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
    margin: auto; 
}



/*Mobiili kokoon liittyviä määrityksiä*/

@media (max-width: 600px) {

    footer{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }   
    
    .tunnitsisältö {
      width: 80%;
      height: 100vh;
      margin: 0 auto;
      padding: 20px;
      background-color: #88b8ae;
      font-size: 15px;
  }
        
        

        
}