body {
    background-color: #88b8ae;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;}

    header {text-align: center;}
    
        

    
        

        
        
        

        
        