
 /*rakenteen määrittelyä*/
body {
    background-color: #88b8ae;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-image: url(kuvat/Etusivulle.jpg), url(kuvat/Etusivulle.jpg);
    background-position: left, right; 
    background-size: cover; 
    background-repeat: no-repeat;
  }
  
  .container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #88b8ae; 
  }



    header {text-align: center;
    padding-top: 20px;}

    /*Navigoinnin ulkoasu*/
    nav a {
    background: #88b8ae;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #000000;
    border-width: medium;
}
nav a:hover {
    color: azure;
    background-color: #000000;
}

#valittu {
    color: azure;
    background-color: rgb(0, 0, 0 0.6);
}


footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #000000;
    
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa {
    padding: 20px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    background-color: #88b8ae;   
}

.fa:hover {
    opacity: 0.6;
}



/*swayn määritys*/
#sway {
    width: 100%;
    height: 100vh;
}


/*etusivunkuva*/    

figure {
    margin: auto;
    margin-bottom: 0px;
    max-width: 400px;
}




/*työpöytä koko*/

@media screen and (min-width: 1200px) {
    




footer{
    flex-direction: row;
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 20%;
}



    
    
        
   
             
}
    
        

        
        
        

        
        